.form-div {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.todo-input {
    border: none;
    height: 40px;
    width: 25em;
    border-radius: 10px;
    padding-left: 15px;
}

.todo-add-button {
    color: white;
    background: none;
    border: none;
}

.filter-todo {
    border: none;
    background: white;
    border-radius: 10px;
    margin-left: 15px;
    padding: 10px;
}