.todo-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.todo-item {
    list-style-type: none;
    background: white;
    width: 25em;
    height: 35px;
    padding-left: 10px;
    border-radius: 10px;
    padding-top: 20px;
    margin-right: 20px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.3;
}

.complete-btn {
    background: none;
    outline: none;
    border: none;
    color: chartreuse;
    margin-right: 10px;
}

.edit-btn {
    background: none;
    outline: none;
    border: none;
    color: rgb(68, 0, 255);
    margin-right: 10px;
}

.trash-btn {
    background: none;
    outline: none;
    border: none;
    color: rgb(255, 0, 55);
}